.formClass{
background-image: url(SDEFimages/fpuserpage_bg.png);
}
.headerIconClass{
	width:25px; 
	margin-top: 10px;
}
.headerClass{
	color: #333333;
    font-family: Arial;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.clsFormInfo{
	font-family:Tahoma,MS Sans Serif;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#000000;
	margin-left: 10px;
}
.clsErrorMessage{
	color: #FF0000;
    font-family:Tahoma,MS Sans Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.div30pxVspacing{
	height: 30px;
	padding-left: 10px;
}

.clsButtonTR{
	height: 35px;
}
.clsPrvBtn {
    height: 21px;
}
