.insurance-title {
    font-size: 22px;
    font-weight: bold;
}

.ins-tree-table1 {
    padding: 3.6pt 7.2pt;
    color: windowtext;
    font-size: 18pt;
    font-family: Arial;
    vertical-align: top;
    border: 1pt solid black;
    height: 25.69pt;
    width: 672pt;
}
.ins-tree-table2 {
    margin-top: 0pt;
    margin-bottom: 0pt; 
    margin-left: 0in; 
    direction: ltr; 
    unicode-bidi: embed; 
    word-break: normal;
}
.ins-tree-broder {
    border: 1px solid black;
}

.ins-tree-style1 {
    padding: 3.6pt 7.2pt;
    color: windowtext;
    font-size: 18pt;
    font-family: Arial;
    vertical-align: top;
    border: 1pt solid black;
    width: 224pt;
}